/*******************************
MY WEBDEV PORTFOLIO
c 2016 John Garrison
main.css
Main styling and Bootstrap
overrides
*******************************/

/*******************************
Bootstrap Overrides
*******************************/

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
  font-family: 'Exo', sans-serif;
}

.navbar-default {
  font-size: 3em;
  text-align: left;
  color: #98CC0A;
  font-family: 'Exo', sans-serif;
  background-color: #262626;
  border-style: solid;
  border-bottom: 2px solid #1F1F1F;
  margin-bottom: 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #333333;
  color: #F26549;
}

ul.nav a:hover {
  color: #F26549 !important;
}


/*******************************
General
*******************************/

body {
  font-size: 62.5%;
  width: 100%;
  /*background-image: radial-gradient(circle, #1F1F1F, #0A0A0A);*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo', sans-serif;
}

p {
  font-family: 'Oxygen', sans-serif;
  font-size: 2.5em;
}

a {
  color: #14929C;
}

label {
  font-size: 2.3em;
}

#fixedImgBg {
  position: relative;
  text-align: center;
  height: auto;
  background-size: 100% auto;
  background-image: url("img/orangebg.jpg");
  background-attachment: fixed;
  padding-top: 1em;
  margin-bottom: 0;
  margin-right: 0;
}

.moveDownLittle {
  padding-top: 1em;
}


.moveDown {
  padding-top: 3.4em;
}

.moveDownMore {
  padding-top: 10em;
}

#moveDownMainTitle {
  margin-top: 10em;
}

.smallerTitle {
  font-size: 4.5em;
  text-shadow: 2px 2px #7A2033;
}

.imgCircle {
  width: 40%;
  height: auto;
  border-radius: 50%;
  margin-left: 15em;
  margin-top: 4em;
  border: 2px solid #D1AB11;
  margin-top: 12em;
}


/*******************************
Heading/Title Part
*******************************/

#mainTitleOne {
  font-family: 'Pacifico', arial;
  position: relative;
  color: #171717;
}

#mainTitleTwo {
  font-family: 'Anonymous Pro', arial;
  position: relative;
  color: #171717;
}

#subTitle {
  color: #171717;
}

#triangleBg {
  background-image: radial-gradient(circle, #EDEDED, #C9C9C9)
  background-color: #F3F7C8;
  background-size: cover;
  height: 100%;
  margin-top: -3em;
  margin-bottom: -5em;
  max-width: 100%;
  display: block;
  border-radius: 1.5%;
}

#aboutTitle {
  color: #E3E3E3;
  padding-top: 2em;
}

.aboutText {
  color: #E8E8E8;
  padding-bottom: 2em;
  margin-right: 1em;
}

.imgLinkSize {
  height: 25%;
  width: 25%;
  border-radius: 50%;
}

#codeTitle {
  font-family: 'Anonymous Pro', arial;
  padding-top: 2.5em;
  padding-bottom: 1.5em;
  /*padding-right: 2em;*/
}


/*******************************
Portfolio Showcase
*******************************/

.blackBg {
  background-color: #242424;
  padding: 0 0 6em 0;
  margin-top: -3em;
}

#fixedPortImgBg {
  position: relative;
  text-align: center;
  height: auto;
  background-size: 100% auto;
  background-image: url("img/superiorbg.jpg");
  background-attachment: fixed;
  padding-top: 1em;
  margin-bottom: 0;
  margin-right: 0;
}

.imgPortSize {
  height: 80%;
  width: 80%;
  border: 2px solid #BF3115;
  border-radius: 3%;
  margin-left: 6em;
  margin-top: 2em;
  margin-bottom: 3em;
}

.imgTitle {
  position: absolute;
  top: 0;
  margin-top: 2em;
  margin-left: 8.7em;
  border-radius: 3%;
  height: auto;
  width: 74%;
  text-align: center;
  opacity: .8;
  display: none; /* comment this out for CSS hover */
  /*transition: all 0.5s ease;*/
  color: #BF3115;
  background-color: #0B181C;
}

.galleryText {
  font-family: 'Pacifico', arial;
  font-size: 3.5em;
}


/*******************************
Contact
*******************************/

.contactBg {
  padding-top: 20em;
  background-color: #171717;
}


/*******************************
Footer
*******************************/

.footer {
  position: relative;
  border-top: .25em solid #E67E10;
  margin-bottom: -10em;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 10em;
  background-color: #262626;
}

.footer p {
  color: #E67E10;
}
