/*******************************
MY WEBDEV PORTFOLIO
c 2016 John Garrison
main.css
Main styling and Bootstrap
overrides
*******************************/

/*******************************
Bootstrap Overrides
*******************************/

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
  font-family: 'Exo', sans-serif;
}

.navbar-default {
  font-size: 3em;
  text-align: left;
  color: #98CC0A;
  font-family: 'Exo', sans-serif;
  background-color: #262626;
  border-style: solid;
  border-bottom: 2px solid #19C2CF;
  margin-bottom: 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #333333;
  color: #E11BF7;
}

ul.nav a:hover {
  color: #19C2CF !important;
}


/*******************************
General
*******************************/

body {
  font-size: 62.5%;
  width: 100%;
  background-color: #09393D;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo', sans-serif;
}

p {
  font-family: 'Oxygen', sans-serif;
  font-size: 2.5em;
}

a {
  color: #14929C;
}

label {
  font-size: 2.3em;
}

#greyBgTitle {
  text-align: center;
  background-color: #F2F2F2;
  border-bottom: 2px solid #19C2CF;
  padding-top: 1em;
  margin-right: 0;
}

.moveDownLittle {
  padding-top: 1em;
}


.moveDown {
  padding-top: 3.4em;
}

.moveDownMore {
  padding-top: 10em;
}

#moveDownMainTitle {
  margin-top: 10em;
}

.smallerTitle {
  font-size: 4.5em;
}

.imgCircle {
  width: 40%;
  height: auto;
  border-radius: 50%;
  margin-left: 15em;
  margin-top: 4em;
  border: 2px solid #19C2CF;
  margin-top: 12em;
}


/*******************************
Heading/Title Part
*******************************/

#mainTitleOne {
  font-family: 'Pacifico', arial;
  position: relative;
}

#mainTitleTwo {
  font-family: 'Anonymous Pro', arial;
  position: relative;
}

#triangleBg {
  background-image: url(img/trianglebg.jpg);
  background-color: #F3F7C8;
  background-size: cover;
  height: 100%;
  margin-top: -3em;
  margin-bottom: -5em;
  max-width: 100%;
  display: block;
}

#aboutTitle {
  color: #19C2CF;
  padding-top: 2em;
}

.aboutText {
  color: #E8E8E8;
  padding-bottom: 2em;
  margin-right: 1em;
}

.sideBg {
  background-color: #031A1C;
}

.imgLinkSize {
  height: 25%;
  width: 25%;
  border-radius: 50%;
}

.imgPortSize {
  height: 80%;
  width: 80%;
  border: 2px solid #19C2CF;
  border-radius: 3%;
  margin-left: 6em;
  margin-top: 2em;
}

#codeTitle {
  font-family: 'Anonymous Pro', arial;
  padding-top: 2.5em;
  padding-bottom: 1.5em;
  /*padding-right: 2em;*/
}


/*******************************
Portfolio Showcase
*******************************/

.blackBg {
  background-color: #1A1A1A;
  padding: 0 0 6em 0;
  border-top: 3px solid #5A2980;
}


/*******************************
Contact
*******************************/

.contactBg {
  padding-top: 20em;
  background-color: #09393D;
  border-top: 2px solid #116396;
}

.whiteFont {
  color: white;
}

.blueFont {
  color: #19C2CF;
}


/*******************************
Footer
*******************************/

.footer {
  position: relative;
  border-top: 2px solid #19C2CF;
  bottom: -6em;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 10em;
  background-color: #262626;
}

.footer p {
  color: #19C2CF;
}
