/*******************************
MY WEBDEV PORTFOLIO
c 2016 John Garrison
main.css
Main styling and Bootstrap
overrides
*******************************/

/*******************************
FONTS
*******************************/

/* Exo */
@import url('https://fonts.googleapis.com/css?family=Exo:600');
/* Oxygen */
@import url('https://fonts.googleapis.com/css?family=Oxygen');
/* Anonymous Pro */
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:700');
/* Pacifico */
@import url('https://fonts.googleapis.com/css?family=Pacifico');


/*******************************
Bootstrap Overrides
*******************************/

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
  font-family: 'Exo', sans-serif;
}

.navbar-default {
  font-size: 3em;
  text-align: left;
  color: #98CC0A;
  font-family: 'Exo', sans-serif;
  background-color: #262626;
  border-style: solid;
  border-bottom: .15em solid #4F4F4F;
  margin-bottom: 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #333333;
  color: #258FB3;
}

ul.nav a:hover {
  color: #258FB3 !important;
}

.well {
    background: rgba(50, 50, 50, .5);
    border: none;
    box-shadow: 2.5px 2.5px rgba(56, 96, 109, .6);
}


/*******************************
General
*******************************/

body {
  font-size: 62.5%;
  width: 100%;
  /*background-image: radial-gradient(circle, #1F1F1F, #0A0A0A);*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo', sans-serif;
}

h1 {
  margin-top: 2.2em;
}

p {
  font-family: 'Oxygen', sans-serif;
  font-size: 2.5em;
}

a {
  color: #258FB3;
}

label {
  font-size: 2.3em;
}

#fixedImgBg {
  position: relative;
  text-align: center;
  height: auto;
  background-size: cover;
  background-image: url("img/blurbg.jpg");
  background-attachment: fixed;
  padding-top: 1em;
  margin-bottom: 0;
  margin-right: 0;
}

.moveDownLittle {
  padding-top: 1em;
}


.moveDown {
  padding-top: 3.4em;
}

.moveDownMore {
  padding-top: 10em;
}

#moveDownMainTitle {
  margin-top: 10em;
}

.smallerTitle {
  font-size: 5.5em;
  text-shadow: 2px 2px #7A2033;
}

.imgCircle {
  width: 40%;
  height: auto;
  border-radius: 50%;
  margin-left: 15em;
  margin-top: 4em;
  border: 2px solid #258FB3;
  margin-top: 12em;
}


/*******************************
Heading/Title Part
*******************************/

#mainTitle {
  font-family: 'Anonymous Pro', arial;
  position: relative;
  color: #EDEDED;
  text-shadow: 2px 2px #454545;
  font-size: 8em;
  margin-top: 2.2em;
  margin-bottom: 1.2em;
}

#subTitle {
  color: #E3E3E3;
}

#aboutBg {
  background-color: rgba(50, 50, 50, .5);
  background-size: cover;
  height: 100%;
  margin-top: -3em;
  margin-bottom: -5em;
  max-width: 100%;
  display: block;
}

#aboutTitle {
  color: #E3E3E3;
  padding-top: 2em;
}

.aboutText {
  color: #E8E8E8;
  padding-bottom: 2em;
  margin-right: 1em;
}

.imgLinkSize {
  height: 25%;
  width: 25%;
  border-radius: 50%;
}

#codeTitle {
  font-family: 'Anonymous Pro', arial;
  padding-top: 2.5em;
  padding-bottom: 1.5em;
  /*padding-right: 2em;*/
}


/*******************************
Portfolio Showcase
*******************************/

#fixedPortImgBg {
  position: relative;
  text-align: center;
  height: auto;
  background-size: 100% auto;
  /* background-image: url("img/superiorbg.jpg"); */
  background-image: radial-gradient(circle, #F5F5F5, #BFBFBF);
  background-attachment: fixed;
  padding-top: 1em;
  margin-bottom: 0;
  margin-right: 0;
  border-top: .5em solid #9C9C9C;
  border-bottom: .5em solid #9C9C9C;
}

.imgPortSize {
  position: relative;
  height: 100%;
  width: 100%;
  border: .48em solid #757575;
  border-radius: 12%;
  margin-top: 2em;
  margin-bottom: 3em;
}

.galleryItem {
  margin-bottom: 3em;
}

.imgTitle {
  position: absolute;
  top: 0;
  margin-top: 6em;
  margin-left: 4em;
  border-radius: 100%;
  height: auto;
  width: 80%;
  opacity: .9;
  display: none; /* comment this out for CSS hover */
  /*transition: all 0.15s ease;*/
  color: #258FB3;
  background-color: #1F1F1F;
}

#workTitle {
  color: #333333;
  font-family: 'Pacifico', arial;
  font-size: 5.2em;
}

.galleryText {
  font-family: 'Pacifico', arial;
  font-size: 3.5em;
  text-align: center;
}


/*******************************
Contact
*******************************/

.contactBg {
  padding-top: 20em;
  background-color: #E8E8E8;
}

.whiteFont {
  color: #EDEDED;
}

.formLabel {
  color: #333333;
  margin-top: 1.2em;
}


/*******************************
Footer
*******************************/

.footer {
  position: relative;
  border-top: .25em solid #CCCCCC;
  margin-bottom: -10em;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 10em;
  background-color: #CCCCCC;
}

.footer p {
  color: #242424;
}
